.logo {
  display: block;
  background-image: url(/images/logo.png);
  text-indent: 101%;
  overflow:hidden;
  width: 118px;
  height: 40px;
}

.pet-painting {
  width: 176px;
  height: 38px;
  background-color: #F9C745;
  border-radius: 23px;
}