<% layout('layout') %>

<div class="container adopt-container pt-10">
  <div class="container adopt-banner d-flex justify-content-center">
    <h1>領養專區</h1>
  </div>



</div>


 


  <!-- 領養專區 -->
  <div class="container adopt-main">
    <div class="row">
      <div class="col-md-4 adopt_list_item d-flex flex-column align-items-center mb-4 rounded-md-3">
        <div class="adopt-avatar mb-7 hua"></div>
        <div class="adopt-name mb-16 fw-bold mx-4 mb-4 align-self-start">等家中-華仔</div>
        <p class="fs-6 pb-4 border-bottom border-secondary mx-4 align-self-start">
          目前7個月大的華仔，是個愛笑的貪吃鬼，喜歡吃西瓜還有蓮霧，是一隻吃素的乖狗...</p>

        <div class="btn  fs-4">more</div>

      </div>
    
      <div class="col-md-4 adopt_list_item d-flex flex-column align-items-center mb-4 rounded-md-3">
        <div class="adopt-avatar blacky mb-7"></div>
        <div class="adopt-name mb-16 fw-bold mx-4 mb-4 align-self-start">等家中-小呆</div>
        <p class="fs-6 pb-4 border-bottom border-secondary mx-4 align-self-start">
          小呆有著圓圓的大眼睛，一歲的他來自台中，原本陪著一位老奶奶生活，上個月奶奶行動不便不能再陪...</p>

        <div class="btn  fs-4">more</div>

      </div>


      <div class="col-md-4 adopt_list_item d-flex flex-column align-items-center mb-4 rounded-md-3">
        <div class="adopt-avatar mb-7 snow"></div>
        <div class="adopt-name mb-16 fw-bold mx-4 mb-4 align-self-start">等家中-Snow</div>
        <p class="fs-6 pb-4 border-bottom border-secondary mx-4 align-self-start">
          看起來很兇但特別怕打雷的Snow，很喜歡吃冰，冰冰的水也喜歡，如果摸他的額頭會發出吹口哨的聲...</p>

        <div class="btn  fs-4">more</div>

      </div>
    </div>

  </div>