<% layout('layout') %>


  <div class="container service-banner mb-8">
  </div>

  // 表單區
  <div class="container form-area">
    <h1>填寫訂購資訊</h1>
    <form>
    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="firstname" class="form-label">名字</label>
        <input type="text" class="form-control" id="firstname" aria-describedby="firstnameHelp">
      </div>

      <div class="mb-3 col-md-6">
        <label for="secondname" class="form-label">姓氏</label>
        <input type="text" class="form-control" id="secondname">
      </div>
    
    </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>