<% layout('layout') %>

  <div class="container service-banner mb-8">
  </div>

  <div class="step container mt-md-10">
    <div class="row px-md-15">
      <div class="col-12 col-md-3 step-list d-flex flex-md-column align-items-center">
        <div class="step-list-pic pic1 me-4 me-md-0 mb-md-4"></div>
        <ul class="step-list-content text-md-center text-start list-unstyled">
          <li class="fs-5 mb-1 text-petdraw step1">step1</li>
          <li>
            <h2 class="fs-5 fw-bold">購買似顏繪服務</h2>
          </li>
          <li class="fs-6 fw-normal">填寫購買表單<br>並完成轉帳付款</li>
        </ul>

      </div>
      <div class="col-12 col-md-3 step-list d-flex flex-md-column align-items-center">
        <div class="step-list-pic pic2 me-4 me-md-0 mb-md-4"></div>
        <ul class="step-list-content text-md-center text-start list-unstyled">
          <li class="fs-5 mb-1 text-petdraw step1">step1</li>
          <li>
            <h2 class="fs-5 fw-bold">設計師繪製</h2>
          </li>
          <li class="fs-6 fw-normal">設計師繪製似顏繪<br>不提供改稿</li>
        </ul>

      </div>
      <div class="col-12 col-md-3 step-list d-flex flex-md-column align-items-center">
        <div class="step-list-pic pic3 me-4 me-md-0 mb-md-4"></div>
        <ul class="step-list-content text-md-center text-start list-unstyled">
          <li class="fs-5 mb-1 text-petdraw step1">step1</li>
          <li>
            <h2 class="fs-5 fw-bold">畫作提供</h2>
          </li>
          <li class="fs-6 fw-normal">電子檔案or實體化做寄送<br> 設計師提供作品</li>
        </ul>

      </div>
      <div class="col-12 col-md-3 step-list d-flex flex-md-column align-items-center">
        <div class="step-list-pic pic4 me-4 me-md-0 mb-md-4"></div>
        <ul class="step-list-content text-md-center text-start list-unstyled">
          <li class="fs-5 mb-1 text-petdraw step1">step4</li>
          <li>
            <h2 class="fs-5 fw-bold">幫助浪浪</h2>
          </li>
          <li class="fs-6 fw-normal">每個月30號我們會將設計費<br>購買飼料，提供給xxx中途之家</li>
        </ul>

      </div>
    </div>
  </div>