<% layout('layout') %>

<div class="container adopt-container pt-10">
  <div class="container adopt-banner d-flex justify-content-center">
    <h1>領養專區</h1>
  </div>
</div>


 


  <!-- 領養專區 -->
  <ul class="container adopt-main d-flex flex-wrap justify-content-center">
     

       <%/* 3 */%>
      <li class=" adopt_list_item d-flex flex-column align-items-center mb-4 rounded-md-3">
        <div class="adopt-avatar mb-7 snow"></div>
        <div class="adopt-name mb-16 fw-bold mx-4 mb-4 align-self-start">等家中-Snow</div>
        <p class="fs-6 pb-4 border-bottom border-secondary mx-4 align-self-start">
          看起來很兇但特別怕打雷的Snow，很喜歡吃冰，冰冰的水也喜歡，如果摸他的額頭會發出吹口哨的聲...</p>

        <div class="btn  fs-4">more</div>
      </li>


  </ul>