@import "./rwd";
$width: 100vw;
body{
  background-image: url(../../images/lightpaperfibers.png);
}

img {
  // max-width: 1440px;
  // height: auto;
  @include desktop {

  }
}
.banner{
    background-image: url(/images/home_mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
       height: 634.28px;
    position: relative;
    @include desktop { 
        background-image: url(/images/home.png);
        height: $width * 0.56;
        width: $width;
        background-size: contain;
        background-position: center center;
    }
    .banner-title{
      display: none;//不用有這條指令
      @include desktop {
        display: block;
        font-weight: 900;
        color: #848975 !important;
        -webkit-text-stroke: 2px #fff;
        font-style: italic;
        color: white;
        font-family: 'Kalam', cursive; 
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
      }
    }
}

.service{
  background-image: url(../../images/lightpaperfibers.png);
  padding-top: 40px;
  padding-bottom: 40px;
  @include desktop {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  ul{
    margin-left: 48px;
  }
  img{
    width: 348px ;
    height: 261px ;
    @include desktop {
      width: 648px;
      height: 486px;
    }
  }
  h4{
    font-family: 'Kalam', cursive;
    color: #F9C745;
  }
  p{
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1.28px;
    color: #3A3A3A;
    // font-weight: lighter;
  }
}
// 近期作品

.pet-avatar{
  // font-size: 0;
  .dog05 {
    background-image: url(../images/dog05.png);
  }
  .cat07{
    background-image: url(../images/cat07.png);
  }
  .dog06{
    background-image: url(../../images/dog06@2x.png);
  }
  .Michael{
    background-image: url(../../images/Michael@2x.png);
  }
  .dog05, .cat07,.dog06,.Michael{
    font-size: 0;
    // width: 160px;
    width: 48%;
    height: 166px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 0;
    @include desktop {
      width: 24%;
      height: 312px;
    }
  }

}
.item{
  .bg-petdraw{
    display: none;
    @include desktop {
      display: block;
    }
  }
  .check-more {
    font-size: 20px;
    line-height: 27px;
  }
}

// 認養專區
.adopt-area {
  padding-bottom: 80px;
  .adopt-illu{
    width: 150px;
    height: 80px;
    background-image: url(../../images/title02@2x.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @include desktop {
      width: 250px; 
      height: 133px;
    }
  }
  .adopt_list{
    list-style: none;
    padding-left: 0;
    justify-content: center;
    margin-bottom: 50px;
    &_item{
      box-shadow: 0px 4px 8px #00000014;
      border-radius: 24px;
      
      @include desktop{
        width: 33.33333%;
        margin-right: 12px;
        margin-left: 12px;
      }
      .adopt-avatar{
        width: 351px;
        height: 424px;
        background-position: center;
        background-size: cover;
        @include desktop{
          width: 100%;
        }
      }
      .hua {
        background-image: url(../../images/dog01@2x.png);
      }
      .snow {
        background-image: url(../../images/dog08@2x.png);
      }
      .blacky {
        background-image: url(../../images/dog04@2x.png);
      }
      .btn {
        font-family: Kalam;
      }
    }
    
  }


}