@import "./rwd";



.header a{
  display: block;
  background-image: url(../../images/title01@2x.png);
    width: 149px;
    height: 80px;
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  @include desktop{
    background-image: url(../../images/title01.png);
    width: 250px;
    height: 134px;
  }
}

.recent-work-main {
    font-family: 'Kalam',cursive;
    
    .work-menu{
      &-title{
        font-style: italic;
      }
    }
    .work-menu-list{
      
      font-family: 'Kalam',cursive;
  }
  .recent-work-list{
    &-item{
      width: 166px;
      height: 166px;
      background-size: contain;
     @include desktop {
       width: 312px;
      height: 312px;
     }
    }

    .recent-work1{
        background-image: url(../../images/dog05@2x.png);
      }
    .recent-work2{
        background-image: url(../../images/cat07@2x.png);
      }
    .recent-work3{
        background-image: url(../../images/dog06@2x.png);
      }
    .recent-work4{
        background-image: url(../../images/Michael@2x.png);
      }
  }
}